*.o
*.so
.config
*~
dovecot-version.h
antispam-version.h
dovecot-version
*-stamp
*.sw[lmnop]
/COPYING
/Makefile
/NOTES
/README
/antispam-plugin.c
/antispam-plugin.h
/antispam-storage-1.0.c
/antispam-storage-1.1.c
/antispam-storage-1.2.c
/antispam-storage-2.0.c
/antispam-storage.c
/antispam.7
/crm114-exec.c
/debug.c
/defconfig
/dovecot-version.c
/dspam-exec.c
/pipe.c
/signature.c
/spool2dir.c
/version.sh
