Source: dovecot-antispam
Section: mail
Priority: optional
Maintainer: Ron Lee <ron@debian.org>
Build-Depends: debhelper (>= 5), dovecot-dev (>= 1:2.2.13-4)
Standards-Version: 3.9.8.0
Homepage: http://johannes.sipsolutions.net/Projects/dovecot-antispam
Vcs-Git: git://git.debian.org/users/ron/dovecot-antispam.git
Vcs-Browser: http://git.debian.org/?p=users/ron/dovecot-antispam.git

Package: dovecot-antispam
Architecture: any
Depends: ${shlibs:Depends}, dovecot-imapd, dovecot-abi-${dovecot:ABI-Version}
Suggests: crm114
Description: Dovecot plugins for training spam filters
 dovecot-antispam watches designated spam folders and trains mail as spam or
 not-spam when it moves in or out of those folders respectively.
 .
 dovecot-antispam supports dspam, crm114, and generic training by mailing spam
 and non-spam to training addresses.  For crm114, it supports folders for the
 additional "unsure" classification, and trains when moving from there to spam
 or normal folders.

